.features {
  padding-bottom: 47px;
}
.section__container {
  margin: 0 auto;
}
.features-list {
  display: flex;
  align-items: center;
}

.features-list__item {
  flex-basis: calc(100% / 4);
}

.features-list__item:not(:last-child) {
  margin-right: 30px;
}

.features-list__item-icon {
  display: flex;
  justify-content: center;
  padding: 25px 0;

  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-section-three);
}

.features-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.features-list__text {
  max-width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
