.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  &__web {
    color: $accent-color;
  }
  &--black {
    color: $text-logo-primary;
  }
  &--white {
    color: $second-text-color;
  }
}
