:root {
  --main-title-color: #212121;
  --second-title-color: #2196f3;
  --first-text-color: #757575;
  --second-text-color: #ffffff;
  --background-main: #ffffff;
  --background-hero: #2f303a;
  --background-section-three: #f5f4fa;
  --text-logo-primary: #000000;
  --main-border: #ececec;
  --main-social-icon-color: #afb1b8;
  --background-join-us: rgba(255, 255, 255, 0.1);
}
